header{
    height: 40px;
    background-color: #eaeaea;
}
main{
    height: 400px;
}
ul{
    list-style-type: none;
}
.my-contacts{
    background-color: rgb(241, 241, 241);    
}
.content-messages{
    background-image: url('../img/mine.jpg');
}
.input-text{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}