header{
    height: 50px;
    background-color: #eaeaea;
}

main{
    height: 300px;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
img{
    width: 40px;
    border-radius: 50%;
}
.my-contacts{
    background-color: rgb(241, 241, 241);    
}
.content-messages{
    background-image: url('../img/mine.jpg');
}
.input-text{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}